<%- include("partials/header"); -%>

  </br>
 <center>
 <h1> NCC SECTION <h1>
  </center>
  </br></br></br>
  <div class="container marketing">


    <!-- START THE FEATURETTES -->

   <div class="row featurette d-flex justify-content-center align-items-center">
      <div class="col-md-7">
        <h2 class="featurette-heading">National Cadet Corps <span class="text-muted">Strength</span>
        </h2>
        <p class="lead"><h4>Army </h4> Each battalion or unit of NCC consists of a number of platoons or coy. For senior division boys each platoon consists of 52 cadets and each coy consists 160 cadets. Each BN has 4 to 7 coys so each BN carries around 640 to 1120 cadets. A senior wing girls BN consists of 2 to 7 coy means a total of 320 to 1120 cadets. For junior division boys and junior wing girls each troop has 100 cadets and each BN has at least one troop.
<h4>Navy </h4> For senior division boys each BN or unit consists of 4 to 8 divisions and each division consists of 50 cadets. For senior wing girls similar arrangement exists as of senior division boys. For junior division boys and junior wing girls each BN has a troop of 100 cadets.
<h4>Air </h4> For senior division boys and senior wing girls each unit consists of at least 2 fleets each consists of 100 cadets. So each unit known as Squadron carries around 200 cadets. For junior wing girls and junior division boys each squadron has a troop consisted of 100 cadets.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="assets\img\ncc1.jpg" alt="">
      </div>
    </div>
	</br></br></br></br>
      <div class="row featurette d-flex justify-content-center align-items-center">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">National Cadet Corps <span class="text-muted">Certificates & Examination</span>
        </h2>
        <p class="lead"><h3>There are Three Certificates in NCC. Below describes about it from lower value to higher value </h3>

<h4>Certificate – A </h4> It can be taken by JD/JW cadets of the NCC, during class year 8 and 9. After passing those classes it can't be obtained. The candidate must have attended a minimum 75% of total training periods laid down in the syllabus for the first and second years of JD/JW NCC (All Wings). The candidate must have attended one Annual Training Camp.
<h4> Certificate – B </h4> It can be taken by SD/SW cadets of the NCC, after class year 10 and those studying for a degree. The candidate must have attended a minimum 75% of total training periods laid down in the syllabus for the first and second years of SD/SW NCC (All Wings). The cadet must have attended one Annual Training Camp/NIC. Cadets who possess Certificate - A will be awarded 10 bonus marks. An air wing cadet must do a minimum 10 Glider launches.
<h4>Certificate – C </h4> Is the highest level certificate for NCC cadets. It can be taken in the 3rd year of training, in the 3rd year of degree course. Those who possess a Certificate - B can take it in the first year after their +2, and in the 1st year of their degree. The cadet must have attended two Annual Training Camps or one Annual Training Camp and one of the following: RD Camp Delhi, Centrally Organised Camp, Para Training Camp, Attachment Training with service units, National Integration Camp, Youth Exchange Programme, or Foreign Cruise (Navy Wing only). </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="assets\img\ncc2.jpg" alt="">
      </div>
    </div>
	</br></br></br></br>
	<div class="row featurette d-flex justify-content-center align-items-center">
      <div class="col-md-7">
        <h2 class="featurette-heading">National Cadet Corps  <span class="text-muted">Motto & Aim</span>
        </h2>
        <p class="lead">
"The discussion for the motto of NCC was started in 11th central advisory meeting (CAC) held on 11 August 1978. At that time there were many mottos in mind like "Duty and Discipline"; "Duty, Unity and Discipline"; "Duty and Unity"; "Unity and Discipline". Later, at the 12th CAC meeting on 12 Oct 1980 they selected and declared "Unity and Discipline" as the motto for the NCC.[5] In living up to its motto, the NCC strives to be and is one of the greatest cohesive forces of the nation, bringing together the youth hailing from different parts of the country and molding them into united and disciplined citizens of the nation".</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="assets\img\ncc3.png" alt="">
      </div>
    </div>
	</br></br></br></br>
	<center>
	<p>NCC Section end</p>
	</center>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>