<%- include("partials/header"); -%>

  </br>
 <center>
 <h1> NSS SECTION <h1>
  </center>
  </br></br></br>
  <div class="container marketing">


    <!-- START THE FEATURETTES -->

  
      <div class="row featurette d-flex justify-content-center align-items-center">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">National Service Scheme <span class="text-muted">AIM</span>
        </h2>
        <p class="lead"> The programme aims to instilling the idea of social welfare in students, and to provide service to society without bias. NSS volunteers work to ensure that everyone who is needy gets help to enhance their standard of living and lead a life of dignity. In doing so, volunteers learn from people in villages how to lead a good life despite a scarcity of resources. it also provides help in natural and man-made disasters by providing food, clothing and first aid to the disaster's victims.</p>    </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="assets\img\nss1.jpg" alt="">
      </div>
    </div>
	</br></br></br></br>
	<div class="row featurette d-flex justify-content-center align-items-center">
      <div class="col-md-7">
        <h2 class="featurette-heading">National Service Scheme<span class="text-muted">Types of Activities</span>
        </h2>
        <p class="lead">There are two types of activities: Regular Activities(120 hours) and Annual Special Camp(120 hours). All the NSS Volunteers who have served NSS for at least 2 years and have performed 240 hours of work under NSS are entitled to a certificate from the university under the signature of the Vice-Chancellor and the Programme Coordinator. The Annual camps are known as Special Camps. Camps are held annually, funded by the government of India, and are usually located in a rural village or a city suburb. Volunteers may be involved in such activities as:

<li>Cleaning</li>
<li>Afforestation</li>
<li>Stage shows or a procession creating awareness of such issues education and cleanliness</li>
<li>Awareness Rallies</li>
<li>Inviting doctors for health camps</li>
<li>Community Survey</li>
</p> </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="assets\img\nss2.jpg" alt="">
      </div>
    </div>
	</br></br></br></br>
	 <div class="row featurette d-flex justify-content-center align-items-center">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">National Cadet Corps <span class="text-muted">Certificates & Examination</span>
        </h2>
        <p class="lead"> To recognize the voluntary service rendered by NSS volunteers, Programme Officers (PO's), NSS Units and the University NSS Cells, it has been proposed to provide suitable incentives/ awards under the scheme. Awards include:</p>

<ul><b>NSS National Award</b></ul>
<ul><b>State level awards</b></ul>
<ul><b>University level awards</b></ul>
<ul><b>District level awards</b></ul>
<ul><b>College level awards</b></ul>
 <p class="lead">This award for the appreciable work of the volunteer in the College level camp. and overall performance of the student in the given year.</p>  </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="assets\img\nss3.jpg" alt="">
      </div>
    </div>
	</br></br></br></br>
	<center>
	<p>NSS Section end</p>
	</center>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>