<%- include("partials/header"); -%>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
	
	<img src="/assets/img/logo.png" height="80px" width="70px" class="img-fluid" alt="logo">
      <h1><a href="#hero" style="color:black">NDRF PORTAL</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <%- include("partials/navbar"); -%>
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-5 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 style="color:black">WELCOME TO NDRF POARTAL</h1>
          <h2 style="color:black">National Disaster Responce Force </h2>
          <div><a href="registration" class="btn-get-started scrollto" style="color:black">NCC & NSS Registration</a></div>
        </div>
        <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
        </div> 
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6  order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
            <img src="assets/img/about4.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>National Disaster Responce Force</h3>
            <p class="fst-italic">
              The National Disaster Response Force (NDRF) is an Indian specialized force constituted "for the purpose of special response to a threatening disaster situation or disaster" under the Disaster Management Act, 2005. The "Apex Body for Disaster Management" in India is the National Disaster Management Authority (NDMA).
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> NDRF Have 15 Battalions</li>
              <li><i class="bi bi-check-circle"></i> The total strength of each battalion is 1,149</li>
              <li><i class="bi bi-check-circle"></i>  All the 15 battalions have been equipped and trained to respond natural as well as man-made disasters</li>
            </ul>
            <a href="http://www.ndrf.gov.in/about-us" class="read-more" >Read More <i class="bi bi-long-arrow-right"></i></a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="3" class="purecounter"></span>
            <p>Battalians</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1149" data-purecounter-duration="3" class="purecounter"></span>
            <p>Each Battalian</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="3" class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="150000" data-purecounter-duration="3" class="purecounter"></span>
            <p>Total NCC & NSS Student</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>The Disaster Management Act has statutory provisions for constitution of National Disaster Response Force (NDRF) for the purpose of specialized response to natural and man-made disasters. Accordingly, in 2006 NDRF was 
		  constituted with 8 Battalions. At present, NDRF has a strength of 12 Battalions with each Battalion consisting of 1149 personnel. 
		  </br>In the beginning, the personnel of NDRF were deployed for routine law and order duties also. In a meeting of the NDMA with the Prime Minister on October 25, 2007, the need of NDRF being made a dedicated force was highlighted and accepted.
</br>		  This led to the notification of NDRF Rules on February 14th , 2008, making NDRF a dedicated force for disaster response related duties, under the unified command of DG NDRF.</br>

The practice of “proactive availability” of this Force to the States and that of “pre-positioning”, in a threatening disaster situations have immensely helped minimise damage, caused due to natural calamities in the country. The first major test of disaster for NDRF was Kosi Floods in 2008. NDRF resources were moved to Bihar immediately after the breach in Kosi barrage on 19th August 2008. The situation was handled by the NDRF on a war footing, by airlifting 153 high speed motorized boats with 780 flood rescue trained personnel drawn from three different Battalions and sent to the five flood affected districts with utmost promptitude. As a result, over 1,00,000 affected people were rescued during the initial stage itself. The prompt and timely response of NDRF was appreciated by the then Chief Minister of Bihar.</br>

Since its inception NDRF has continued to win hearts of millions of countrymen, by demonstrating its expertise and compassion while handling disaster situations. The list of such challenges is long. To cite a few ; a six storey building collapsed at Bellary (Karnataka) in January 2010. In a meticulously planned, round the clock operation lasting seven days, the NDRF rescued 20 trapped live victims and retrieved 29 bodies.</br> In a multi-storey factory building collapse at Jalandhar (Punjab) in April 2012, the NDRF successfully rescued 12 live victims trapped under huge rubble of debris and also recovered 19 dead bodies. The sterling services rendered by 46 NDRF personnel in response to the triple disaster in Japan in March-April 2011, has also won NDRF laurels.</p>
        </div>

</main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>NDRF</h3>
            <p>J6H7+5VX </br>
             Palika Kendra Jai Singh Marg, <br>
              Hanuman Road Area Connaught Place <br>
              New Delhi, Delhi 110001 <br><br>
              <strong>Phone:</strong> 011-23438136<br>
              <strong>Email:</strong> hq.ndrf@nic.in<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="http://www.ndrf.gov.in/news-clippings">News clippings</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://www.ndrf.gov.in/press-release">Press Release</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://www.ndrf.gov.in/news-letter">News Letter</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://www.ndrf.gov.in/training">Traning</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://www.ndrf.gov.in/equipment">Equipment</a></li>
            </ul>
          </div>

          <div class="col-lg-6 col-md-6 footer-newsletter">
            <h4>Training of NDRF</h4>
            <p>While the NDRF is being trained, re-trained and equipped as a specialist force for level three disasters, it is equally important to ensure capacity building of state police personnel who are invariably the first responders in any natural or man-made disasters. </br>
			To ensure this, a two-pronged strategy is being suggested to the states: firstly, to train state police personnel in the basics of disaster management and secondly, to train at least one battalion equivalent out of their state armed police units as State Disaster Response Force (SDRF) on lines of the NDRF. </br>
			In addition to police personnel, the SDRFs may be constituted from existing resources of the Fire Services, Home Guards and Civil Defence. NDRF Bns and their training institutions will assist the States/UTs in this effort. The State/UTs will also be encouraged to set up DM training facilities in their respective Police Training Colleges and include this subject in their basic and in-service courses.</p>
          
          </div>

        </div>
      </div>
    </div>

    <div class="container">

      <div class="copyright-wrap d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
          <div class="copyright">
            &copy; Copyright <strong><span>NDRF</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/techie-free-skin-bootstrap-3/ -->
            Designed by <a href="">Next Innovation</a>
          </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a href="https://twitter.com/NDRFHQ/photo" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>